body{
    background-color:#1D2D3D;
    
}
.heading{
    color: white;
    font-size: 56px;
    font-weight: 600;
    padding-left: 1rem;
}
.heading2{
    color: white;
font-size: 30px;
font-weight: 400;
text-align: left;
}
.heading3{
   color: white;
font-size: 24px;
font-weight: 300;

text-align: left;

}
.button1 {
    background-color: black;
    color: white; /* Set text color to white */
    font-size: 24px;
    padding: 1rem;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    display: inline-block;
    margin-left: 7rem;     
    box-shadow: 10px 9px 0 rgba(0, 0, 0, 0.5);/* Ensure the button is displayed inline */
  }
  .heading4{
    color: white;
    font-family: Outfit;
    font-size: 18px;
    font-weight: 300;
    line-height: 22.68px;
    text-align: left;
    
    margin-left: 7rem; 
  }
  .center-heading{
    margin: 5rem;
    color: white;
font-size: 30px;
font-weight: 600;
text-align: center;
  }
  .offerings{
    display: flex;
    justify-content: center;
    margin: 5rem;
    border-radius: 2px;
  }
  .for_students,.for_institutions{
    background-color: #6E84A7;  padding: 50px;
    border-radius: 10px;
    font-weight: 400;
    
    color: white;
    margin-left: 30px;
  }
  .for_institutions{
    color: white;
  }
  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Optional: to add some space from the list */
  }
  
  .Signup, .KnowMore {
    margin: 0 0px; /* Adjust the margin as needed to space the elements */
    padding: 10px 20px; /* Optional: to add padding to the elements */
    background-color: #6E84A7; /* Optional: background color */
    color: white; /* Optional: text color */
    border-radius: 5px; /* Optional: rounded corners */
    cursor: pointer; /* Optional: change cursor to pointer */
  }
  
  .Signup:hover, .KnowMore:hover {
    background-color: #5a6b8c; /* Optional: change background on hover */
  }
  
  
  