.Courses_bg{
    background: #6E84A7;
    padding-top: 1rem;
    padding-bottom: 10em;
}
.Courses_header{
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size:  2.5em;
}